*{
    scroll-behavior: smooth;
    transition: all 0.3s;
}
.servicos-container{
    

}
.section-services{
    padding-top: 22vh;
    width: 100%;
    height: 100vh;
    border-top:1px solid rgba(10,41,79,.4);
    border-bottom:1px solid rgba(10,41,79,.4);
}
.section-services h1{
text-align: center;
color:rgba(10,41,79,1);
}
.servicos-nav{
    margin-top: 9.5vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    
}
.servicos-nav ul{
    display:flex;
    align-items: center;
    justify-content:center;
    list-style: none;

}
.servicos-nav ul li{
    width:calc(100vw / 6);
    display:flex;
    justify-content: center;
    color: rgba(10,41,79,1);
    word-spacing: 1px;
    cursor: pointer;
}
.servicos-nav ul li:hover{
    border-bottom: 2px solid rgba(10,41,79,.6);
    border-left: 1px solid rgba(10,41,79,.1);
    border-right: 1px solid rgba(10,41,79,.1);
}
.whatsapp{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:15px;
    background-image: url('wp.svg');
    background-size: cover;
    right:15px;
    width: 50px;
    height:50px;
    padding: 5px;
}
@media screen and (max-width:600px){
    .servicos-nav{
        display:none;
    }
    .section-services{
        /* height:fit-content; */
    }
 
    .section-services{
        padding:11vh 5px 5px 5px;
       
    }
 
}