.servicos-contato{
    padding: 12vh 25% 0px 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.form-contato{
    /* padding: 20px 35px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    width: 100%;
    padding: 0px;
  

}
.form-contato .contato{
    padding:0px;
    margin: 0px;
   

}
.form-contato .contato form{
    padding:30x;
    margin: 0px;
   

}
.form-contato .contato{
    max-height:65vh;
    min-height: 65vh;
    padding-bottom: 30px;
}
.form-contato button{
  

}
.form-contato span{

 
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 

}
.form-contato h1{
    margin: 15px;
 
    text-align: center;
}
.servicos-contato h1{
    
    text-align:center;
    margin-bottom: 15px;
    margin: 15px;
}
.wrapper{
    overflow: hidden;
    border:1px solid rgba(10,41,79,1);
    border-radius:10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.localizacao{
    position: relative;
    width: 100%;
    border:1px solid rgba(10,41,79,1);
    border-radius:10px;
    margin: auto;
    z-index: 3;

}
.localizacao ul{
    position: absolute;
    bottom:-65px;
    right: 20px;
    left:auto;
    z-index: 4;
}
.localizacao .menu-redes img{
    width: 75px;
    height: 75px;
    padding:5px;
    background-size: cover;
    margin-top: 0px;
    cursor:pointer;
}
.whatsapp{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:15px;
    background-image: url('wp.svg');
    background-size: cover;
    right:15px;
    width: 50px;
    height:50px;
    padding: 5px;
}
@media screen and (max-width:950px){
    .servicos-contato{
        padding: 11vh 15% 0px 15%;
    
    }

}
@media screen and (max-width:800px){
    .servicos-contato{
        padding: 11vh 10% 0px 10%;
    
    }

}
@media screen and (max-width:750px){
    .servicos-contato{
        padding: 11vh 5% 0px 5%;
    
    }

}
@media screen and (max-width:600px){
    .servicos-contato{
        padding: 12vh 10px;
    
    }
    .servicos-contato h1{
        margin-top: 20px;
    
    }
    .form-contato .contato{
        padding: 0px 0px;
        margin: 0px;
        width:100%;

    
    }
    .localizacao{
        margin-bottom: 70px;
    }
    .localizacao ul{
        /* position: static; */
        position: fixed;
        left:0;
        right: 0;
        bottom:20px;
        display: flex;      
        width: 100%;
        margin-top: 30px;
        
    }
    .localizacao ul li{
        width: calc(100% / 4);    
        display: flex;
        justify-content: center;
        align-items: center;
    }
        

}
