.home{
  position: relative;
}.wrapper-modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
  z-index: 100000;
}
.modal-email{
  position: relative;
  width: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
  border-radius: 10px;
  color:rgba(10,41,79,1);

}
.modal-email button{
  position:absolute;
  width: 25px;
  height:25px;
  top:5px;
  right:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(10,41,79,1);
  border-radius: 50%;
  color:white;
  cursor:pointer;
}
@media screen and (max-width: 600px){
  .modal-email{
   
    width: 95%;
    font-size: 13px;
  
  
  }
}